/.vscode
/log.txt
/pytorch.slurm
/pytorch.slurm.e.50332986
/pytorch.slurm.o.50332986
/results
/results.1121
/results.1122
/results.1122.e100
/results.1122.e50
/results.1123
/results.cpm.z

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
